* {
  box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    background: #eee;
    font-family: sans-serif;
}

h1 {
    margin: 5px;
}

ul{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

li{
    background-color: rgba(194, 217, 227, 0.811);
    margin: 5px;
}
a{
    color: black;
    text-decoration: none;
}

.card {
    width: 400px;
    margin: auto auto;
    padding: 5px;
    padding-bottom: 1px;
    text-align: center;
    background-color: antiquewhite;
}


.title {
    text-align: center;
    padding: 30px;
    font-size: 1000;
    background:  rgba(194, 217, 227, 0.811);
}


/* style for the specific food page */
/* .image-box {
    margin: 0 auto;
    width: 1450px;
    height: 400px;
    overflow: hidden;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */